<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <!--Styles-->
    <link rel="stylesheet" href="/css/styles.css">
</head>

   <header class="home__header">
 <div class="home__header__logo">
<a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
 </div>
<section>
  <article>
    <p>Lugar para poner barra de búsqueda</p>
    <p>Comprá en cuotas y sin tarjeta de crédito</p>
  </article>
</section>
 <nav class="home__header__nav">
<ul class="home__header__nav-ul">
  <li><a href="">ofertas</a></li>
  <li><a href="">tiendas oficiales</a></li>
  <li><a href="">vender</a></li>
  <li><a href="">ayuda</a></li>
  <li><a href="">creá tu cuenta</a></li>
  <li><a href="">ingresá</a></li>
  <li><a href="">mis compras</a></li>
</ul>
 </nav>
   </header>
   
   <main class="home__main">
    <section>
      <article class="home__article__cafetera">
        <div class="home__article_cafetera-div">
          <img src="/images/img-cafetera-moulinex.jpg" alt="img-cafetera-moulinex">
        </div>
        <p> $6.770</p>
        <p> 40% OFF</p>
         <h4>Cafetera Moulinex</h4>
      </article>

      <article class="home__article__mackbook">
        <div class="home__article__macbkook-div">
          <img src="/images/img-macbook-pro-2019.jpg" alt="">
        </div>
        <p> $230.000 </p>
        <p> 20% off </p>
        <h4> MacBook Pro 2019 </h4>
      </article>
      <article class="home__article__samsung">
        <div class="home__article__samsung-div">
          <img src="/images/img-samsung-galaxy-s10.jpg" alt="">
        </div>
        <p> $70.500 </p>
        <p> 10% off </p>
        <h4> Samsung Galaxy S10 </h4>
      </article>

      <article class="home__article__smartv">
        <div class="home__article__smart-div">
          <img src="/images/img-tv-samsung-smart.jpg" alt="">
        </div>
        <p>$23.200</p>
        <p>5% off</p>
        <h4>SmartTv Samsung 43"</h4>
      </article>
    </section>


   </main>

   <body>
    

   </body>

 <footer>


 </footer>


</html>