<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <!--Styles-->
    <link rel="stylesheet" href="/css/styles.css">
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/b4935bb790.js" crossorigin="anonymous"></script>

</head>
<header class="home__header">
    <section>
      <article class="home__button__search">
          <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"></a>
          <input class="home__button" type="search" name="busquedaproducto" value="Buscar productos, marcas" >
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
          <div class="home__header__compraencuotas">
            <a href="/"> <i class="fa-solid fa-hand-holding-dollar"></i> Comprá en cuotas y sin tarjeta de crédito</a>
          </div>
      </article>
    </section>
    <nav class="home__header__nav">
      <ul class="listado">
        <li><a href="">Ofertas</a></li>
        <li><a href="">Tiendas Oficiales</a></li>
        <li><a href="">Vender</a></li>
        <li><a href="">Ayuda</a></li>
      </ul>
      <ul class="listado">
        <li><a href="/register">Creá tu cuenta <i class="fa-solid fa-id-card"></i></a></li> </i>
            <!--<li><a href="/login">Ingresá <i class="fa-solid fa-arrow-right-to-bracket"></i></a> </i></li>--> 
    <li><a href="">Mis compras <i class="fa-solid fa-basket-shopping"></i> </a></li> 
      </ul>
    </nav>
    <div class="home__burger-menu">
      <button class="home__burger-button"><i class="fa-solid fa-bars"></i></button>
    </div>
    <div class="home__header__banner">
      <img src="images/img-home-banner.jpg" alt="">
    </div>
  </header>

<body>
    <main class="login__main">

        <section class="login__section">
            
        
            <h1 class="login__tittle">Ingresá</h1>
    
    
            <form action="/" class="form">
    
                <div class="form_box">
                    
                    <input class="form_input" placeholder="Usuario" type="text" id="nombre" name="Firtsname">
                    <input class="form_input" placeholder="Contraseña" type="password" id="password" name="password">
                    <button class="form__button form_button_send" type="submit">Ingresar</button>
                    <h4 >¿Olvidaste tu contraseña?</h4>
                </div>
    
                
                    
    
            </form>
         
    </section>
                
        </main >    

</body>

</html>