.login__main {
    margin-left: 10%;
    margin-right: 10%;
    background: var(--colorGrisClaro);
    padding-bottom: 10px;
    padding-top: 10px;
    margin-bottom: 10%;
    margin-top: 10%;
    border-radius: 2px solid 30%;
    text-align: center;
    font-family:'Roboto';
    font-size: 16px ;
}

@media(min-width:767px){


    .login__main{
        width: 60%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    
    
    }

    @media(min-width:1024px){
        .form_button_send:hover {
            background-color: #0022AA;    
        }
        .login__main{
            width: 60%;
            margin-right: 20%;
            margin-left: 20%;
            margin-top: 30px;
            margin-bottom: 30px;
        }
    }