/* IMPORTACIONES */
@import url('./home.css');
@import url('./form.css');
@import url('./login.css');

/*  IMPORTACIONES - TIPOGRAFÍAS */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* VARIABLES */
:root {
--colorAmarillo: #EAC926;
--colorAzul: #03264C;
--colorCeleste: #1259c3;
--colorGrisOscuro: #666;
--colorGrisClaro: #ebebeb;
--colorVerde: #39b54a;
}

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }